<ol class="breadcrumb">
	<li class="breadcrumb-item"><a ui-sref="home">Good Calculator</a></li>
	<li class="breadcrumb-item active">Material Browser</li>
</ol>

<div class="row">
	<div class="col-sm-6">
		<h1>Material browser</h1>
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search for a material" ng-model="scope.filter">
		</div>
	</div>
</div>

<div class="card bg-tertiary p-3 mb-3" ng-if="scope.recentlyVisited.recent.length">
	<h3>Recently visited</h3>
	<div class="recipe-list">
		<div class="card text-center material-card" ng-repeat="materialId in scope.recentlyVisited.recent">
			<a class="stretched-link recipe-name" ui-sref="material({material: materialId})">
				<img class="recipe-image" ng-src="/assets/images/{{scope.getMaterialById(materialId).iconSprite}}/{{scope.getMaterialById(materialId).iconId}}.png">
				{{scope.getMaterialById(materialId).name['en']}}
			</a>
		</div>
	</div>
</div>

<div class="recipe-list">
	<div class="card text-center material-card" ng-repeat="material in scope.getFilteredMaterials()|orderBy:'name[\'en\']'|filter:scope.filter">
		<a class="recipe-name stretched-link" ui-sref="material({material: material.materialId})">
			<img class="recipe-image" ng-src="/assets/images/{{material.iconSprite}}/{{material.iconId}}.png">
			{{material.name['en']}}
		</a>
	</div>
</div>
