<ol class="breadcrumb">
	<li class="breadcrumb-item"><a ui-sref="home">Good Calculator</a></li>
	<li class="breadcrumb-item"><a ui-sref="home">Item Browser</a></li>
	<li class="breadcrumb-item active">{{scope.item.name}}</li>
</ol>

<div class="d-flex flex-column flex-sm-row">
	<div class="p-2 flex-grow-1">
		<h1>{{scope.item.name}}</h1>
	</div>
	<div class="p-2">
		<a ui-sref="home" class="btn btn-secondary">Back to item list</a>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="card mb-3">
			<div class="card-body">
				<span class="float-left mr-3">
					<img ng-src="/assets/images/items/{{scope.item.slug}}.png" width="128" height="128" class="float-left" title="{{scope.item.name}}" tooltip>
				</span>
				<p style="white-space: pre-line;">{{scope.item.description}}</p>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card mb-3">
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>Item</th>
							<th>{{scope.item.name}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Stack size</td>
							<td>{{scope.item.stackSize}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="card mb-3">
			<div class="card-body">
				<h2>Recipes</h2>

				<div class="table-responsive">
					<table class="table recipe-table table-hover">
						<thead>
							<tr>
								<th>Recipe name</th>
								<th>Products</th>
								<th>Ingredients</th>
								<th>Machine</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="recipe in scope.recipes">
								<td>
									{{recipe.name}}
								</td>
								<td>
									<div ng-repeat="product in recipe.products" class="d-inline-block p-2">
										<span class="item-amount">
											{{product.amount}}x
											<a ui-sref="item({item: scope.getItem(product.item).slug})">
												<img ng-src="/assets/images/items/{{scope.getItem(product.item).slug}}.png" width="32" height="32" title="{{scope.getItem(product.item).name}}" tooltip>
											</a>
											<br>
										</span>
										<span>{{product.amount * 15 / recipe.time|number}}&nbsp;/&nbsp;day</span>
									</div>
								</td>
								<td>
									<div ng-repeat="ingredient in recipe.ingredients" class="d-inline-block p-2">
										<span class="item-amount">
											{{ingredient.amount}}x
											<a ui-sref="item({item: scope.getItem(ingredient.item).slug})">
												<img ng-src="/assets/images/items/{{scope.getItem(ingredient.item).slug}}.png" width="32" height="32" title="{{scope.getItem(ingredient.item).name}}" tooltip>
											</a>
											<br>
										</span>
										<span>{{ingredient.amount * 15 / recipe.time|number}}&nbsp;/&nbsp;day</span>
									</div>
								</td>
								<td>
									<span class="item-amount">
										<img ng-src="/assets/images/items/{{scope.getMachine(recipe).slug}}.png" width="32" height="32" title="{{scope.getMachine(recipe).name}}" tooltip> {{scope.getMachine(recipe).name}}
									</span>
									<br>
									<span>{{recipe.time}}s ({{15 / recipe.time|number}} cycles&nbsp;/&nbsp;day)</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="card mb-3">
			<div class="card-body">
				<h2>Usages as ingredient</h2>

				<div class="table-responsive">
					<table class="table recipe-table table-hover">
						<thead>
							<tr>
								<th>Recipe name</th>
								<th>Products</th>
								<th>Ingredients</th>
								<th>Machine</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="recipe in scope.usagesAsIngredient">
								<td>
									{{recipe.name}}
								</td>
								<td>
									<div ng-repeat="product in recipe.products" class="d-inline-block p-2">
										<span class="item-amount">
											{{product.amount}}x
											<a ui-sref="item({item: scope.getItem(product.item).slug})">
												<img ng-src="/assets/images/items/{{scope.getItem(product.item).slug}}.png" width="32" height="32" title="{{scope.getItem(product.item).name}}" tooltip>
											</a>
											<br>
										</span>
										<span>{{product.amount * 15 / recipe.time|number}}&nbsp;/&nbsp;day</span>
									</div>
								</td>
								<td>
									<div ng-repeat="ingredient in recipe.ingredients" class="d-inline-block p-2">
										<span class="item-amount">
											{{ingredient.amount}}x
											<a ui-sref="item({item: scope.getItem(ingredient.item).slug})">
												<img ng-src="/assets/images/items/{{scope.getItem(ingredient.item).slug}}.png" width="32" height="32" title="{{scope.getItem(ingredient.item).name}}" tooltip>
											</a>
											<br>
										</span>
										<span>{{ingredient.amount * 15 / recipe.time|number}}&nbsp;/&nbsp;day</span>
									</div>
								</td>
								<td>
									<span class="item-amount">
										<img ng-src="/assets/images/items/{{scope.getMachine(recipe).slug}}.png" width="32" height="32" title="{{scope.getMachine(recipe).name}}" tooltip> {{scope.getMachine(recipe).name}}
									</span>
									<br>
									<span>{{recipe.time}}s ({{15 / recipe.time|number}} cycles&nbsp;/&nbsp;day)</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
